@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

.container {
  margin-top: 10px;
}

.main-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 6px;
  color: #0056b3;
  font-family: "gilmer", sans-serif;
}

.head {
  font-family: "gilmer", sans-serif;
  text-align: center;
}

.cont {
  font-size: medium;
  line-height: 26px;
  font-family: "gilmer", sans-serif;
  margin-top: 0px;
  text-align: justify;
  margin-bottom: 0px;
}

.para, .column {
  opacity: 0;
  transform: translateY(20px);
  font-size: 20px;
  display: flex;
  margin-bottom: 0px;
  gap: 20px;
  font-family: "gilmer", sans-serif;
  text-align: justify;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.para-visible, .column-visible {
  opacity: 1;
  transform: translateY(0);
}

.highlight {
  color: #2196f3;
}

.divider {
  width: 50%;
  border: none;
  border-top: 2px solid #333;
  margin-top: 0;
  margin-bottom: 30px;
}

.centered-image {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.columnsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  max-width: 300px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 8px;
  font-size: 1.1rem;
  color: black;
  font-family: "Verdana", sans-serif;
  position: relative;
  padding-left: 20px;
}

.column ul li::before {
  content: "\2022";
  color: #0056b3;
  font-size: 1.2rem;
  margin-right: 8px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .columnsContainer {
    flex-direction: column;
    align-items: center;
  }
  
  .para, .column {
    display: block;
    padding: 0;
    gap: 0;
  }

  .column {
    width: 100%;
    padding: 0 10px;
    max-width: none;
    margin-bottom: 20px;
  }
  
  .images {
    width: 100%;
    height: auto;
  }
}
