.banner {
  background-color: #f0f0f0; /* Fallback color */
  background-image: url("../../public/image/bg.png"); /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  height: 300px; /* Set the initial height of the banner */
  display: flex;
  width: 97%;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.bannerContent2 {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  // align-items: center;
  width: 100%;
  // max-width: 1200px;
  color: white;
  // text-align: center;
}

.content2 {
  // flex: 1;
  // min-width: 300px;
width: 45%;
  margin: 10px;
  text-align: center;
}

.heading {
  font-family: "gilmer", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-bottom: 0;
  // margin: 20px 0;
}

.text {
  text-align: justify;
  color: white;
  font-family: "gilmer", sans-serif;
  margin-top: 6px;
  padding: 0 5%;
}

.banner2 {
  margin-top: 40px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .banner {
    height: auto;
    padding: 10px;
  }

  .bannerContent2 {
    flex-direction: column;
    align-items: center;
  }

  .content2 {
    width: 100%;
    text-align: center;
  }

  .heading {
    font-size: 24px;
  }

  .text {
    padding: 0 10px;
  }
}
