.whatsappcontainer {
    position: fixed;
    bottom: 20px; /* Adjust bottom distance as needed */
    right: 20px; /* Adjust right distance as needed */
    z-index: 9999; /* Ensure it's above other content */
  }
  
  .whatsapplogo {
    width: auto; /* Adjust size of the logo as needed */
    height: 60px;
    border-radius: 50%; /* Make it circular */
    border: 2px solid #25D366; /* Add border to make it stand out */
    transition: transform 0.3s ease-in-out; /* Add transition effect */
  }
  
  .whatsapplogo:hover {
    transform: scale(1.1); /* Increase size on hover */
  }
  