.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 0 20px;
  height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  z-index: 99;
  font-family: "gilmer", sans-serif;
}
.searchContainer {
  display: flex;
  // background: #0056b3;
  // border: 3px solid #;
  align-items: center;
  // text-align: center;

  position: relative; /* Ensure relative positioning for children */
}

.searchInput {
  // padding: 8px 12px;
  border: 3px solid #0056b3;
  border-radius: 5px;
  // outline: none;
  transition: border-color 0.3s ease, 
  box-shadow 0.3s ease;
  // margin-left: 10px; /* Adjust margin as needed */
  flex: 1; /* Take remaining space */
}

.searchSuggestions {
  position: absolute;
  top: calc(100% + 10px); /* Position relative to search input */
  left: 0;
  width: 100%; /* Full width of parent */
  background-color: white;
  border: 1px solid #0056b3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  // display: none; /* Initially hide suggestions */
}

.searchContainer:hover .searchSuggestions {
  display: block; /* Show suggestions on hover */
}

.suggestion {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #0056b3;
  transition: background-color 0.3s ease;
}

.suggestion:hover {
  background-color: #f0f0f0;
}

.menuIcon {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 4px;
  width: 200px;
  height: auto;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bolder;
  font-size: 18px;
  flex: 1;
  justify-content: center;
}

.tabs a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
}

.tabs a:hover {
  color: white;
  background-color: #0056b3;
}

.dropdownContainer {
  position: relative;
}

.dropdownToggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdownArrow {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.dropdown a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown a:hover {
  background-color: #0056b3;
}

.viewAllBtn {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #0056b3;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.viewAllBtn:hover {
  background-color: #0056b3;
}

.dropdownContainer:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-left: 120px;
}

.searchInput:focus {
  border-color: blue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.2);
}

.scrolled {
  transform: translateY(-100%);
  animation: slideDown 0.5s ease-in-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  .container {
    flex-wrap: wrap;
  }
  .searchContainer {
    order: 2;
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 720px) {
  .container {
    position: relative;
    height: auto;
    flex-direction: column;
    // padding: 10px;
    width: 90%;
  }
  .tabs {
    display: none;
  }
  .logo {
    width: 70%;
  }
  .menuIcon {
    display: block;
  }
  .showMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    z-index: 1;
    // margin-top: 20px;
  }
  .dropdownContainer {
    position: relative;
  }
  .showMenu a {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
}
