@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

.banner {
  position: relative;
  // background-color: #0056b3;
  // background: url('https://www.pngkit.com/png/full/411-4119072_business-banner-png-department-of-computer-applications.png');
  height: 400px; /* Adjust height as needed */
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Align text to the right */
  align-items: center;
  color: black;
  overflow: hidden; /* Ensure background image does not overflow */
}

.bannerText {
  position: relative;
  z-index: 1; /* Ensure text appears above background */
  max-width: 1000px; /* Adjust as per your design */
  padding: 20px;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://www.pngkit.com/png/full/411-4119072_business-banner-png-department-of-computer-applications.png"); /* Replace with your background image URL */
  background-size: cover;
  background-position: center;
  // opacity: 0.2; /* Adjust opacity as needed */
}

.flex {
  display: flex;
  align-items: flex-start; /* Align items at the start of the flex container */
  justify-content: center;
}

.textContainer {
  // margin-right: 20px;
  margin-left: 400px;
  width: 50%; /* Adjust width as per your design */
}

.heading {
  font-size: 30px;
  font-weight: bolder;
  font-family: "gilmer", sans-serif;
  margin-bottom: 10px;
}

.hr {
  border: 1.5px solid black;
  margin: 0;
  width: 95%;
}

.points {
  list-style: none;
  padding: 0;
  font-size: large;
  color: black;
  text-align: justify;
  margin-top: 10px;
}

.points li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .banner {
    height: 550px;
  }

  .textContainer {
    margin-right: 0;
    text-align: center;
    width: 100%; /* Adjust width for mobile */
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 20px;
  }
}
